<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
    name="jdbc/researchportal"
    auth="researchportal"
    type="javax.sql.DataSource"
    maxIdle="30"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost:3306/jdbc/researchportal"
    username="root"
    password="Nitish@1314"/>
</Context>