<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>connecting.Listner</listener-class>
  </listener>
  <servlet>
  	<servlet-name>UserReg</servlet-name>
  	<display-name>UserReg</display-name>
  	<description></description>
  	<servlet-class>servlet.UserReg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitRecomendation</servlet-name>
  	<display-name>SubmitRecomendation</display-name>
  	<description></description>
  	<servlet-class>servlet.SubmitRecomendation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewRecomendations</servlet-name>
  	<display-name>ViewRecomendations</display-name>
  	<description></description>
  	<servlet-class>servlet.ViewRecomendations</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserReg</servlet-name>
  	<url-pattern>/users/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitRecomendation</servlet-name>
  	<url-pattern>/SubmitRecomendation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewRecomendations</servlet-name>
  	<url-pattern>/ViewRecomendations</url-pattern>
  </servlet-mapping>
</web-app>
